<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
<h2 class="text-center">CRUD PROJECT NODE EXPRESS EJS BOOTSTRAP MONGODB</h2>

<div class="container">
    <div class="my-4">
     <h3>creating new contact</h3>
     <form action="/contact" method="POST" class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">
    
        <label class="sr-only" for="inlineFormInputGroupUsername2">email</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="email">
        </div>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="phone number">
        </div>
    
    
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    </div>
    <div>
        <h3>all contacts</h3>
      <table class="table table-light">
          <thead>
              <tr>
                  <th>name</th>
                  <th>email</th>
                  <th>phone</th>
                  <th>action</th>
                 
              </tr>
          </thead>
           <tbody> 
               
            <% for(let contact of contacts){ %>
                    <tr>
                     <th><%= contact.name %></th>
                    <th><%= contact.email %></th>
                    <th><%= contact.phone %></th>
                     <th>
                                <button type="button" class="btn btn-primary">edit</button>
                                <button type="button" class="btn btn-danger"><a href="/contact/delete/<%= contact._id %>">delete</a> </button>
                    </th>
                </tr>
                <% } %> 
           </tbody>
       </table>
    </div>

</div>
</body>
</html>

